@page "/Contact"
@rendermode InteractiveServer

<PageTitle>Contact</PageTitle>

<p><em>Found @_people.Count people in contact</em></p>

<form>
    <input type="text" placeholder="Andy"  @bind="NewPerson.Firstname"/>
    <input type="text" placeholder="Johnson"  @bind="NewPerson.Lastname"/>
    <input type="text" placeholder="aj1999@gmail.com"  @bind="NewPerson.Email"/>
    <button type="submit" @onclick="() => { NewPerson.Id = _id; _people.Add(NewPerson); _id++; }">Add</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var person in _people)
    {
        <tr>
            <td>@person.Id</td>
            <td>@person.Firstname</td>
            <td>@person.Lastname</td>
            <td>@person.Email</td>
            <button @onclick="() => _people.Remove(_people.First(v => v.Id == person.Id))">🗙</button>
        </tr>
    }
    </tbody>
</table>

@code {

    private static int _id = 0;
    
    private static List<Person> _people = new();
    
    private Person NewPerson { get; } = new();

    private class Person
    {
        public int Id { get; set; }
        public string? Firstname { get; set; }
        public string? Lastname { get; set; }
        public string? Email { get; set; }
    }

}